.link {
  &,
  &:hover,
  &:visited,
  &:active {
    cursor: pointer;
    color: $color-blue-dark-1;
    line-height: normal;
    text-decoration: underline;
  }
  &:active {
    text-decoration: none;
  }
}

.badge {
  display: inline-block;
  border: 1px solid $color-gray-dark-1;
  border-radius: $border-radius;
  padding: ($baseunit * 0.25) ($baseunit * 0.625);
  color: $color-blue-dark-1;
  text-align: center;

  &--small {
    padding: ($baseunit * 0.25) ($baseunit * 0.375);
    font-size: $font-size-small;
  }
}

.list {
  &--invisible {
    @include scut-list-unstyled;
  }
  & > *:not(:last-child) {
    margin-bottom: $baseunit;
  }
}

// Forms
// -----

// Really only for spacing with minimal styling
.form {
  & &__label {
    margin-bottom: $baseunit * 0.625;
    width: 100%;
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: $baseunit * 1.25;
    }

    &:not(&--center) {
      width: 100%;
    }

    &--center {
      display: block;
      margin-right: auto;
      margin-left: auto;
    }
  }
}

.form-label {
  @extend .text;
  @extend .text--small;

  display: block;
  padding: 0 ($baseunit * 0.625);

  &--hidden {
    display: none;
  }
}

.input {
  display: block;
  border: 1px solid $color-gray-dark-1;
  border-radius: $border-radius;
  padding: 0 ($baseunit * 0.625);
  height: $height-control;

  &--invisible {
    border: 0;
    background-color: transparent;
  }
}

// Buttons
// -------

.button-container {
  display: flex;

  &__group {
    display: flex;
    min-width: 0;

    & + & {
      position: relative;

      &:before {
        position: absolute;
        top: 10%;
        left: 0;
        border-left: 1px solid $color-gray-dark-1;
        height: 80%;
        content: "";
      }
    }
    &--expand {
      flex-grow: 1;
    }
  }
  &__item {
    min-width: 0;

    &--expand {
      flex-grow: 1;
    }
  }
}

.button {
  @include scut-truncate;

  &,
  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
    border: 0;
    border-radius: $border-radius;
    background-color: $color-blue-dark-1;
    padding: 0 ($baseunit * 1.875);
    height: $height-control;
    color: $color-white;
    text-align: center;
  }
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &--invisible {
    &,
    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
      color: $color-blue-dark-1;
    }
  }
}
a.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
