{{page-title "Oops..."}}

<Callout @centerContainer={{true}} @centerContent={{true}} @title="Oops... 🥲">
  <ul class="list list--invisible">
    {{#each @model.errors as |error|}}
      <li>{{error.detail}}</li>
    {{/each}}
    <li>Please report this to
      <a
        class="link"
        href="mailto:ericbai@jhmi.edu"
      >ericbai@jhmi.edu</a></li>
  </ul>
</Callout>