{{page-title "Loading..."}}

<Wormhole @name="top" @append={{true}}>
  <div class="content__top__item content__top__item--message text text--small">
    Loading...
  </div>
</Wormhole>

<Callout
  @centerContainer={{true}}
  @centerContent={{true}}
  @title="Loading... 🤓"
/>