{{page-title "Is my coresident off?"}}

<div class="app">
  <div class="app__logo">
    <h1 class="header header--title">
      Is my coresident off?
    </h1>
  </div>
  <div class="app__content content">
    <div class="content__top"></div>
    <div class="content__main">
      {{outlet}}
    </div>
    <div class="content__bottom"></div>
  </div>
</div>